.footer {
  background-color: $background-color;
  padding: 60px 0;
  display: flex;
}

.logo__accent--footer {
  color: $white-color;
}

.address__link {
  margin-top: 20px;
  color: $address-color;
  line-height: 1.71;
  transition: color 250ms $transition-cubic;
  &:hover,
  &:focus {
    color: $brand-color;
  }
  &:not(:last-child) {
    margin-bottom: 9px;
  }
}

.address__link--map {
  color: $white-color;
}

.address {
  margin-top: 20px;
}

.socials__join {
  color: $white-color;
  font-weight: 700;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer__container {
  display: flex;
  align-items: baseline;
}

.footer__nav {
  margin-right: 70px;
}

.socials__link--footer {
  background-color: $footer-socials-bg;
  color: $white-color;
}

.subscribe {
  display: flex;
  margin-left: auto;
  flex-direction: column;
  width: 570px;
  height: 86px;
}

.subscribe__thumb {
  display: flex;
}

.subscribe__label {
  font-weight: 700;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  color: $white-color;
  margin-bottom: 20px;
}

.subscribe__input {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 358px;
  height: 50px;
  color: $white-color;
  transition: border-color 250ms $transition-cubic;
  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
  }
  &:focus {
    border-color: $brand-color;
  }

  &:focus-visiable {
    outline: none;
  }
}

.subscribe__btn {
  width: 200px;
  height: 50px;
  font: inherit;
  color: $white-color;
  background-color: $brand-color;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  cursor: pointer;
  margin-left: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 28px;
  transition: background-color 250ms $transition-cubic;
  &:hover,
  &:focus {
    background-color: $button-active;
  }
}

.subscribe__icon {
  fill: currentColor;
  margin-left: 10px;
}
